# User files
/**/.env

# Python
/**/.venv/
/**/__pycache__/

# AI
.codex
.claude

# IDE files
.vscode

# Terraform local state
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.lock.hcl
