# User files
/**/.env
/db/
/debezium/

# Python
/**/.venv/
/**/.venv-test/
/**/__pycache__/
/**/.pytest_cache/

# AI
.codex
.claude

# IDE files
.vscode

# Terraform local state
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.*
