# Keycloak OIDC settings
KEYCLOAK_URL=replace_with_keycloak_url
KEYCLOAK_REALM=replace_with_keycloak_realm
KEYCLOAK_API_CLIENT_ID=replace_with_keycloak_api_client_id
KEYCLOAK_API_AUDIENCE=replace_with_keycloak_api_audience_id
KEYCLOAK_SWAGGER_CLIENT_ID=replace_with_keycloak_swagger_client_id
