POSTGRES_DB=replace_with_pg_db
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=replace_with_pg_pass
POSTGRES_PORT=5432
POSTGRES_USER=replace_with_pg_user

MINIO_HOST=localhost
MINIO_ROOT_PASSWORD=replace_with_minio_pass
MINIO_ROOT_USER=replace_with_minio_user