confluent-kafka
psycopg[binary]
minio
pandas
openpyxl
pydantic
apache-airflow-providers-apache-kafka
apache-airflow-providers-trino
apache-airflow-providers-standard
apache-airflow-providers-fab
pyarrow==16.1.0
trino==0.328.0

sqlalchemy
